server:
  port: 8080
spring:
  application:
    name: greeting-service-estudo
management:
  endpoints:
    web:
      exposure:
        include:
          - '*'
  endpoint:
    health:
      show-details: ALWAYS

greeting-service:
  greeting: 'Ciao'
  defaultValue: 'Mondo'